---
import Layout from "../../layouts/Layout.astro";
import fetchApi from '../../lib/strapi';
import type Tag from '../../interfaces/tag';
import config from "../../../public/site/config.json";
import PostTags from "./../../components/PostTags.astro";

const tags = await fetchApi<Tag[]>({
    endpoint: `tags?pagination[pageSize]=100000&populate=*&sort=title:ASC`,
});
---

<Layout title={config.siteName}>
  <main>
    <div class="t-container t-max-w-7xl t-pb-32 t-pt-16 t-text-center">
      <h1 class="t-mb-10 t-font-p t-text-4xl md:t-text-5xl t-text-white">Tags</h1>
      <PostTags tags={tags} class="t-justify-center"/>
    </div>
  </main>
</Layout>