---
import Layout from "../layouts/Layout.astro";
import config from "../../public/site/config.json";
---

<Layout title={config.siteName} image="">
  <main>
    <div class="t-container t-max-w-7xl t-py-32 t-text-center">
      <h1 class="t-font-p t-text-5xl t-text-white">Error 404</h1>
    </div>
  </main>
</Layout>
