---
import Layout from "../layouts/Layout.astro";
import "../css/slug.scss";
---

<Layout title="Acerca">
	<main>
		<div class="t-container t-max-w-7xl md:t-py-20">
			<div class="t-flex t-flex-col">
				<div
					class="t-order-2 t-mx-auto t-mb-5 t-pt-10 sm:t-px-[10vw] md:t-order-1 md:t-pt-0"
				>
					<h1 class="slug word-wrap t-mb-5 t-font-p t-text-white">
						Acerca
					</h1>
				</div>
			</div>

			<div class="t-mx-auto t-my-5 t-mb-5 sm:t-my-10 sm:t-px-[10vw]">
				<div>
					<div class="rtm t-mb-16 t-text-white">
						<p> En la era de la información, nunca ha sido tan fácil acceder a datos y estadísticas sobre cualquier tema. </p> <p> Si eres de los que disfrutan aprendiendo constantemente y descubriendo curiosidades sobre nuestro mundo y más allá, ¡has llegado al lugar indicado! </p> <p> Nos apasiona compartir los hechos más sorprendentes e increíbles, desde la geografía y la historia, hasta la ciencia, la psicología, los descubrimientos y las innovaciones. Aquí encontrarás algo que despertará la curiosidad de todos. ¡Prepárate para explorar lo desconocido! </p>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
