---
import Layout from "../layouts/Layout.astro";
import "../css/slug.scss";
---

<Layout title="Acerca">
	<main>
		<div class="t-container t-max-w-7xl md:t-py-20">
			<div class="t-flex t-flex-col">
				<div
					class="t-order-2 t-mx-auto t-mb-5 t-pt-10 sm:t-px-[10vw] md:t-order-1 md:t-pt-0"
				>
					<h1 class="slug word-wrap t-mb-5 t-font-p t-text-white">
						Acerca
					</h1>
				</div>
			</div>

			<div class="t-mx-auto t-my-5 t-mb-5 sm:t-my-10 sm:t-px-[10vw]">
				<div>
					<div class="rtm t-mb-16 t-text-white">
						<p>
							En la era de la información, el acceso a datos y
							estadísticas sobre cualquier tema es más fácil que
							nunca.
						</p>

						<p>
							Si eres alguien a quien le gusta aprender cosas
							nuevas y descubrir datos curiosos sobre el mundo,
							estas en el lugar correcto.
						</p>

						<p>
							Nos apasiona compartir los hechos más increíbles
							sobre el mundo y más allá, incluyendo hechos sobre
							geografía, historia, literatura, ciencia,
							psicología, descubrimientos, innovaciones y mucho
							más. ¡Hay algo aquí para satisfacer la curiosidad de
							todos!
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
