---
import Layout from "../layouts/Layout.astro";
import "../css/slug.scss";
---

<Layout title="Disclaimer">
	<main>
		<div class="t-container t-max-w-7xl md:t-py-20">
			<div class="t-flex t-flex-col">
				<div
					class="t-order-2 t-mx-auto t-mb-5 t-pt-10 sm:t-px-[10vw] md:t-order-1 md:t-pt-0"
				>
					<h1 class="slug word-wrap t-mb-5 t-font-p t-text-white">
						Disclaimer
					</h1>
				</div>
			</div>

			<div class="t-mx-auto t-my-5 t-mb-5 sm:t-my-10 sm:t-px-[10vw]">
				<div>
					<div class="rtm t-mb-16 t-text-white">
						<p>
							All the information on this website -
							datoscuriosos.org - is published in good faith and
							for general information purpose only. Datos Curiosos
							does not make any warranties about the completeness,
							reliability and accuracy of this information. Any
							action you take upon the information you find on
							this website (Datos Curiosos), is strictly at your
							own risk. Datos Curiosos will not be liable for any
							losses and/or damages in connection with the use of
							our website.
						</p>
						<p>
							From our website, you can visit other websites by
							following hyperlinks to such external sites. While
							we strive to provide only quality links to useful
							and ethical websites, we have no control over the
							content and nature of these sites. These links to
							other websites do not imply a recommendation for all
							the content found on these sites. Site owners and
							content may change without notice and may occur
							before we have the opportunity to remove a link
							which may have gone ‘bad’.
						</p>
						<p>
							Please be also aware that when you leave our
							website, other sites may have different privacy
							policies and terms which are beyond our control.
							Please be sure to check the Privacy Policies of
							these sites as well as their “Terms of Service”
							before engaging in any business or uploading any
							information.
						</p>
						<h2 id="consent">Consent</h2>
						<p>
							By using our website, you hereby consent to our
							disclaimer and agree to its terms.
						</p>
						<h2 id="update">Update</h2>
						<p>
							Should we update, amend or make any changes to this
							document, those changes will be prominently posted
							here.
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
