---
import PaginateLink from "./PaginateLink.astro";
import PaginateNoLink from "./PaginateNoLink.astro";

const { current, prev, next } = Astro.props;
---

<nav
  role="navigation"
  aria-label="Pagination Navigation"
  class="t-flex t-justify-center"
>
  <ul class="t-flex">
    {current == "/2" && <PaginateLink icon="p" href="../" />}
    {prev && current != "/2" && <PaginateLink icon="p" href={prev} />}
    {prev == undefined && <PaginateNoLink icon="p" />}

    {next && <PaginateLink icon="n" href={next} />}
    {next == undefined && <PaginateNoLink icon="n" />}
  </ul>
</nav>
