---
import PaginateLink from "./PaginateLink.astro";
import PaginateNoLink from "./PaginateNoLink.astro";

const { page, total } = Astro.props;
---

<nav
  role="navigation"
  aria-label="Pagination Navigation"
  class="t-flex t-justify-center"
>
  <ul class="t-flex">
    <a href="../">first page</a>
    <a href="#">prev page</a>
    <a href="#">next page</a>
    <a href={total}>last page</a>
  </ul>
</nav>
