---
import {
  BackgroundPicture
} from "astro-imagetools/components";

const { class: scope, style, ...props } = Astro.props;
---

<div class="t-mb-2 md:t-mb-6 lg:t-mb-2">
  <BackgroundPicture
    {...props}
    objectPosition="50% 50%"
    attributes={{
      picture: {
        class: `${scope} t-w-full t-aspect-[16/8] t-rounded-xl md:t-rounded-3xl`,
        style,
      },
      img: {
        class: `${scope} t-w-full t-aspect-[16/8] t-rounded-xl md:t-rounded-3xl`,
        style,
      },
      container: {
        class: `${scope} t-w-full t-aspect-[16/8] t-rounded-xl md:t-rounded-3xl`,
        style,
      },
    }}
  />
</div>
