---
import type Tag from "../interfaces/tag";
const { tags } = Astro.props;
---

<div>
  {
    tags &&
      tags.data.map((tag: Tag) => (
        <a
          href={`/tags/${tag.attributes.slug}`}
          class="t-mr-2 t-hidden t-rounded-lg t-border t-border-grey t-px-3 t-py-1 t-text-sm t-text-grey hover:t-border-white hover:t-bg-white hover:t-text-dark lg:t-inline-block"
        >
          {tag.attributes.title}
        </a>
      ))
  }
</div>
