---
import type Tag from "../interfaces/tag";
const { class: scope, tags } = Astro.props;
---

<div class=`t-flex t-flex-wrap t-gap-3 ${scope}`>
  {
    tags &&
      tags.data.map((tag: Tag) => (
        <a
          href={`/tags/${Array.isArray(tag) ? tag[0].attributes.slug : (tag as Tag).attributes.slug}`}
          class="t-rounded-lg t-border t-border-grey t-px-3 t-py-1 t-text-sm t-text-grey hover:t-border-white hover:t-bg-white hover:t-text-dark"
        >
          {(tag as Tag).attributes.title}
        </a>
      ))
  }
</div>
