---
import FooterNav from "../components/FooterNav.astro";
import FooterCopy from "../components/FooterCopy.astro";
import FooterMailing from "../components/FooterMailing.astro";
---

<footer class="t-border-t t-border-dark t-py-32">
  <div class="t-container t-max-w-7xl t-text-center">
    <FooterMailing />
    <FooterCopy />
    <FooterNav />
  </div>
</footer>
